header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #86c0ed;
  z-index: 10;
  border-bottom: 2px solid #4aa9f1;
}

.nav {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    a {
      font-size: 24px;
      color: #050505;
    }
  }

  &__search {
    display: flex;
    flex-grow: 1;
    padding-right: 30px;
    padding-left: 30px;
    &__tbx {
      width: 100%;
      padding: 5px 10px;
      border-radius: 10px;
      border: 1px solid #fff;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__link {
    color: #050505;
    font-size: 18px;
  }

  &__btn {
    padding: 8px 16px;
    background-color: #fff;
    border-radius: 10px;
    color: #050505;
  }
}

.active {
  color: red;
}

.search__results {
  position: fixed;
  top: 50px;
}

@media (max-width: 1000px) {
  .home__link,
  .about__link {
    display: none;
  }
}
