.allcollections__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 50px;
}

@media (max-width: 1000px) {
  .allcollections__row,
  .collections__row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .allcollections__row,
  .collections__row {
    grid-template-columns: 1fr;
  }
}
